@font-face {
	font-family: 'Almarai';
	src: url(../fonts/Almarai-Regular.woff2) format('woff2'),
	url(../fonts/Almarai-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}