@font-face {
	font-family: 'DIN Next LT Arabic';
	src: url(../fonts/DINNextLTArabic-Regular.woff2) format('woff2'),
	url(../fonts/DINNextLTArabic-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'DIN Next LT Arabic';
	src: url(../fonts/DINNextLTArabic-Medium.woff2) format('woff2'),
	url(../fonts/DINNextLTArabic-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}